h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  font-family: 'Gotham bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

a {
  color: #f38920;
  text-decoration: none;
  cursor: pointer;
}

strong {
  font-family: 'Gotham bold', sans-serif;
  font-weight: 700;
}

.navlink {
  padding-top: 60px;
  padding-bottom: 20px;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Gotham book', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.navlink:hover {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .3));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .3));
  color: #f4912e;
}

.navlink.w--current {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .3));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .3));
  color: #f4912e;
}

.body {
  font-family: 'Gotham book', sans-serif;
}

.container {
  max-width: 1070px;
  margin-right: auto;
  margin-left: auto;
}

.container.herocontainer {
  padding-top: 170px;
}

.container.chefcontainer {
  position: relative;
  height: 620px;
}

.brand {
  width: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2000;
  background-image: url('../images/bgHeader.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.herosection {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 60px;
  background-image: url('../images/BG1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.lightboxlink {
  width: 100%;
  cursor: pointer;
}

.wrapimglightbox {
  position: relative;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-image: url('../images/pattern12x.jpg');
  background-position: 0px 0px;
  background-size: 128px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .2);
  text-align: center;
}

.rope {
  position: absolute;
  left: -260px;
  top: -48px;
  right: 0px;
  display: block;
  width: 1600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.clifleft {
  position: absolute;
  left: 20px;
  top: -130px;
  z-index: 1000;
}

.clipright {
  position: absolute;
  top: -130px;
  right: 20px;
  z-index: 1000;
}

.imgvideo {
  position: relative;
  width: 100%;
}

.playicon {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 180px;
  margin: auto;
}

.sectionregistration {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url('../images/DaftarBG.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionregistration.thankspagesection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 160px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bodytext {
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}

.bodytext.textthanks {
  margin-bottom: 20px;
  font-size: 24px;
}

.bodytext.thank-you {
  display: block;
  width: 567px;
  margin-right: auto;
  margin-left: auto;
}

.bodytext.small {
  font-size: 20px;
  line-height: 20px;
}

.bodytext.bigger {
  font-size: 28px;
}

.wraptextregistration {
  display: block;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.btnreg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 53px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 54px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: transparent;
  background-image: url('../images/btnFacebook2x.png');
  background-position: 0px 50%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Gotham book', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.arrowwrapping {
  display: inline-block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
}

.mekanismesection {
  position: relative;
  display: block;
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: url('../images/Pattern22x.jpg');
  background-position: 0px 0px;
  background-size: 250px;
}

.lineshaddow {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
}

.wrapstep {
  display: block;
  width: 336px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  float: left;
}

.wrapiconstep {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-right: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  padding: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: red;
  font-family: 'Gotham bold', sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.imgstep {
  width: 130px;
  margin-left: 15px;
}

.textstep {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.wrapstep123 {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.titilesection {
  font-family: 'Shadedlarch personal use', sans-serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
  text-align: center;
}

.titilesection.orange {
  color: #f38920;
}

.centerfullwidth {
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.tipssection {
  position: relative;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('../images/BG3.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapimgtips {
  position: relative;
  display: block;
  width: 90%;
  margin: 50px auto 60px;
  padding: 20px;
  background-image: url('../images/pattern12x.jpg');
  background-position: 0px 0px;
  background-size: 128px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
}

.wraplabel {
  position: absolute;
  left: 0px;
  top: -25px;
  right: 0px;
  text-align: center;
}

.tips {
  display: block;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.wrapimagetips {
  width: 240px;
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 5px solid #fff;
  border-radius: 10px;
  background-color: #2c2c2c;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .3);
}

.texttips {
  display: block;
  width: 550px;
  padding-top: 20px;
  padding-left: 30px;
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.wrapptips {
  padding-top: 20px;
}

.chefsection {
  position: relative;
  padding-top: 50px;
  padding-bottom: 0px;
  background-image: url('../images/BG4.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.wraptext {
  width: 60%;
  padding-top: 60px;
  padding-right: 40px;
  float: left;
}

.titile {
  font-family: Morva, sans-serif;
  color: #f38920;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.chef {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 40%;
  float: right;
}

.footer {
  padding-bottom: 20px;
  border-top: 10px solid #fff;
  background-image: url('../images/BG5.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.textfooter {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #625548;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.wrapinfooter {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapcustomerservice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.icon {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.textwrapfooter {
  padding-left: 12px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.textsfooter {
  color: #625548;
  font-size: 18px;
}

.wrapprivacy-policy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  float: right;
}

.bold {
  font-family: 'Gotham bold', sans-serif;
}

.kontakkamilink {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'Gotham bold', sans-serif;
  color: #625548;
  cursor: pointer;
}

.kontakkamilink:hover {
  color: #f38920;
}

.linkprivacy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.modalwindows {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
}

.modalwindows.modal-background {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
}

.wrapform {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 4000;
  display: block;
  height: 400px;
  max-width: 540px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, .9);
}

.closetext {
  position: absolute;
  top: 6px;
  right: 10px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  cursor: pointer;
}

.closetext:hover {
  color: #ba0000;
}

.closetext.close-modal {
  top: 7px;
  right: 12px;
}

.iconclose {
  position: relative;
  top: 1px;
  font-family: 'Gotham bold', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.formtititle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Gotham bold', sans-serif;
  color: #625548;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

.fieldlabel {
  color: #625548;
  font-size: 16px;
  font-weight: 400;
}

.textfield {
  height: 48px;
  border-radius: 4px;
  text-align: center;
}

.submitbutton {
  margin-top: 10px;
  padding: 14px 60px;
  border-radius: 4px;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form {
  display: block;
  max-width: 460px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.imgtips {
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
}

.anchor {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 98px;
  width: 100%;
  height: 1px;
}

.section {
  padding-top: 140px;
  padding-bottom: 60px;
  background-image: url('../images/BG6.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.wraptc {
  display: block;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 30px;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, .7);
}

.rebbon {
  position: relative;
  margin-bottom: 20px;
}

.rebbondesktop {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.titilessyaratketentuan {
  position: relative;
  z-index: 200;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Gotham bold', sans-serif;
  color: #333;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.wrapthankstext {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 680px;
  margin: 100px auto;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, .7);
}

.titile-thanks {
  margin-bottom: 20px;
  font-family: 'Gotham bold', sans-serif;
  color: #524539;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.image-tips {
  border-radius: 5px;
}

.arrow {
  cursor: pointer;
}

.hideblock {
  display: none;
}

.hideblock.nohide {
  display: block;
}

.wraprecipe {
  display: block;
  width: 800px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.t1 {
  font-size: 18px;
  line-height: 26px;
}

.subtitilesyaratketentuan {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cecece;
  font-family: 'Gotham bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.tc-embed {
  font-size: 33px;
}

.p {
  font-family: 'Gotham book', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.h3 {
  margin-bottom: 10px;
  float: left;
  font-family: 'Gotham bold', sans-serif;
  color: #ba0000;
  font-size: 26px;
  line-height: 26px;
  text-decoration: underline;
}

.step {
  width: 100%;
  float: left;
  font-size: 20px;
  line-height: 28px;
}

.link {
  color: #0e50c1;
}

.backtotop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2000;
  display: block;
  padding: 7px 4px;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, .3);
}

.backtotop.w--current {
  padding: 8px 4px;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, .2);
  opacity: 0;
}

.awesomefont {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.icontotop {
  display: block;
  width: 42px;
  height: 40px;
  margin-right: auto;
  margin-bottom: 4px;
  margin-left: auto;
  border-radius: 4px;
  background-color: #f38920;
  background-image: url('../images/arrowBacktoTop.svg');
  background-position: 50% 47%;
  background-size: 20px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.icontotop:hover {
  background-color: #fc7d00;
}

.center2col {
  display: block;
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media (max-width: 991px) {
  .navlink {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
  }
  .navlink:hover {
    color: #fff;
  }
  .navlink.w--current {
    color: #fff;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container.chefcontainer {
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .container.navbarcontainer {
    padding-right: 0px;
    padding-left: 0px;
  }
  .brand {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
  }
  .herosection {
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .rope {
    top: -38px;
    width: 1200px;
  }
  .clifleft {
    width: 70px;
  }
  .clipright {
    width: 70px;
  }
  .playicon {
    width: 130px;
  }
  .sectionregistration {
    padding-right: 20px;
    padding-left: 20px;
  }
  .bodytext {
    font-size: 22px;
    line-height: 28px;
  }
  .bodytext.textthanks {
    line-height: 36px;
  }
  .bodytext.thank-you {
    width: 408px;
    line-height: 27px;
  }
  .wraptextregistration {
    width: 100%;
  }
  .mekanismesection {
    padding: 40px 20px 30px;
  }
  .wrapstep {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .textstep {
    font-size: 24px;
    line-height: 30px;
  }
  .wrapstep123 {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .titilesection.orange {
    font-size: 62px;
    line-height: 62px;
  }
  .titilesection.thankyou {
    margin-top: 0px;
  }
  .centerfullwidth {
    margin-top: 20px;
  }
  .tipssection {
    padding: 40px 20px;
  }
  .wrapimgtips {
    margin-bottom: 30px;
  }
  .label {
    width: 130px;
  }
  .tips {
    width: 600px;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .wrapimagetips {
    display: block;
    width: 300px;
    margin-right: auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #fff;
  }
  .texttips {
    width: 100%;
    padding-left: 0px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  .chefsection {
    padding-top: 0px;
  }
  .wraptext {
    width: 100%;
    padding-top: 40px;
    padding-right: 0px;
  }
  .titile {
    margin-top: 0px;
    font-size: 50px;
    line-height: 50px;
  }
  .chef {
    position: relative;
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    float: none;
  }
  .textfooter {
    line-height: 29px;
  }
  .menubutton {
    padding: 26px;
    -webkit-transition: background-color 200ms ease, color 200ms ease;
    transition: background-color 200ms ease, color 200ms ease;
    color: #000;
    cursor: pointer;
  }
  .menubutton:hover {
    background-color: #f38920;
    color: #fff;
  }
  .menubutton.w--open {
    background-color: #f38920;
  }
  .navmenu {
    background-color: #f38920;
    color: #fff;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .wraptc {
    max-width: 100%;
    padding: 30px 20px;
  }
  .titilessyaratketentuan {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .wrapthankstext {
    padding-right: 60px;
    padding-left: 60px;
  }
  .image-tips {
    border-style: none;
    border-bottom-width: 0px;
    border-bottom-color: #000;
  }
  .h3 {
    font-size: 24px;
  }
  .center2col {
    width: 100%;
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .herosection {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .wrapimglightbox {
    padding-bottom: 20px;
  }
  .clifleft {
    top: -102px;
    width: 60px;
  }
  .clipright {
    top: -102px;
    width: 60px;
  }
  .playicon {
    width: 100px;
  }
  .sectionregistration {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .sectionregistration.thankspagesection {
    padding-top: 130px;
  }
  .bodytext {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 24px;
    line-height: 34px;
  }
  .bodytext.textthanks {
    font-size: 24px;
    line-height: 34px;
  }
  .bodytext.thank-you {
    width: 401px;
    line-height: 29px;
  }
  .bodytext.small {
    font-size: 18px;
  }
  .bodytext.bigger {
    font-size: 26px;
    line-height: 30px;
  }
  .btnreg.modal-link {
    width: 260px;
    height: 50px;
  }
  .arrowwrapping {
    width: 50px;
  }
  .mekanismesection {
    padding-top: 30px;
  }
  .textstep {
    font-size: 22px;
    line-height: 28px;
  }
  .titilesection {
    font-size: 60px;
    line-height: 60px;
  }
  .titilesection.orange {
    font-size: 46px;
    line-height: 46px;
  }
  .tipssection {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wrapimgtips {
    width: 100%;
    padding: 15px;
  }
  .label {
    width: 110px;
  }
  .wraplabel {
    top: -20px;
  }
  .tips {
    width: 100%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .texttips {
    width: 100%;
  }
  .textfooter {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapinfooter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .icon {
    width: 36px;
  }
  .textsfooter {
    font-size: 16px;
    line-height: 22px;
  }
  .wrapform {
    width: 90%;
  }
  .section {
    padding-top: 100px;
  }
  .wraptc {
    padding-right: 20px;
    padding-left: 20px;
  }
  .titilessyaratketentuan {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 26px;
  }
  .wrapthankstext {
    width: 100%;
    max-width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .titile-thanks {
    font-size: 34px;
  }
  .h3 {
    font-size: 22px;
  }
  .step {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 479px) {
  p {
    font-size: 16px;
    line-height: 22px;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container.herocontainer {
    padding-top: 110px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .container.chefcontainer {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container.footercontainer {
    padding-right: 10px;
    padding-left: 10px;
  }
  .brand {
    width: 80px;
    padding-left: 10px;
  }
  .herosection {
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .wrapimglightbox {
    padding: 10px;
  }
  .rope {
    top: -23px;
    width: 640px;
  }
  .clifleft {
    top: -60px;
    width: 40px;
  }
  .clipright {
    top: -72px;
    width: 40px;
  }
  .playicon {
    width: 50px;
  }
  .sectionregistration {
    padding: 30px 10px 20px;
  }
  .sectionregistration.thankspagesection {
    padding-top: 120px;
    padding-bottom: 46px;
  }
  .bodytext {
    font-size: 16px;
    line-height: 22px;
  }
  .bodytext.textthanks {
    font-size: 20px;
    line-height: 26px;
  }
  .bodytext.thank-you {
    width: 100%;
    line-height: 27px;
  }
  .bodytext.small {
    font-size: 16px;
  }
  .bodytext.bigger {
    font-size: 20px;
    line-height: 24px;
  }
  .btnreg.modal-link {
    width: 240px;
    height: 48px;
    margin-top: 30px;
  }
  .arrowwrapping {
    width: 48px;
  }
  .mekanismesection {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .wrapstep {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .wrapiconstep {
    margin-bottom: 10px;
  }
  .textstep {
    font-size: 16px;
    line-height: 22px;
  }
  .titilesection {
    font-size: 40px;
    line-height: 40px;
  }
  .titilesection.orange {
    font-size: 40px;
    line-height: 42px;
  }
  .tipssection {
    padding: 10px 10px 20px;
  }
  .wrapimgtips {
    margin-top: 40px;
    padding: 10px;
  }
  .label {
    width: 90px;
  }
  .tips {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .wrapimagetips {
    display: block;
    width: 230px;
    height: auto;
    margin-right: auto;
  }
  .texttips {
    font-size: 16px;
  }
  .wrapptips {
    padding-top: 10px;
  }
  .wraptext {
    padding-top: 30px;
  }
  .titile {
    font-size: 32px;
    line-height: 36px;
  }
  .chef {
    width: 280px;
  }
  .footer {
    border-top-width: 8px;
  }
  .textfooter {
    font-size: 15px;
  }
  .icon {
    width: 34px;
  }
  .textsfooter {
    font-size: 15px;
    line-height: 20px;
  }
  .modalwindows.modal-background {
    padding-right: 10px;
    padding-left: 10px;
  }
  .wrapform {
    position: absolute;
    width: 90%;
    height: 398px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .formtititle {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .textfield {
    font-size: 13px;
  }
  .menubutton {
    padding: 22px;
  }
  .section {
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .wraptc {
    padding-right: 10px;
    padding-left: 10px;
  }
  .titilessyaratketentuan {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 22px;
    line-height: 24px;
  }
  .wrapthankstext {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .titile-thanks {
    font-size: 28px;
  }
  .image-tips {
    border: 1px none #fff;
    border-radius: 5px;
  }
  .error-message {
    font-size: 13px;
    line-height: 15px;
  }
  .subtitilesyaratketentuan {
    font-size: 18px;
  }
  .p {
    font-size: 15px;
    line-height: 22px;
  }
  .h3 {
    font-size: 20px;
    line-height: 22px;
  }
  .step {
    font-size: 16px;
    line-height: 22px;
  }
}

@font-face {
  font-family: 'Gotham book';
  src: url('../fonts/Gotham-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Shadedlarch personal use';
  src: url('../fonts/ShadedLarch_PERSONAL_USE.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Morva';
  src: url('../fonts/MORVA.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham bold';
  src: url('../fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham thinita';
  src: url('../fonts/Gotham-ThinIta.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}